button


filter
<button type="button" id="btn-filter" class="btn btn-primary"><i class="icon fa fa-filter"></i> Filter</button>

reset
<button type="button" id="btn-reset" class="btn btn-default"><i class="icon fa fa-history"></i> Reset</button>

xls
<button type="submit" id="xls" name="xls" class="btn btn-success"><i class="fa fa-file-excel-o"></i> XLS</button>

pdf
<button type="submit" id="pdf" name="pdf" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i> PDF</button>

save
<button type="button" id="btnSave" onclick="save()" class="btn btn-primary"><i class="icon fa fa-save"></i> Save</button>

cancel
<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="icon fa fa-close"></i> Cancel</button>